.header {
  display: flex;
  justify-content: space-between;
  &-middle {
    font-weight: bold;
    font-size: 1.3em;
  }
  &-left {
    a {
      border: solid 1px grey;
      padding: 5px;
      border-radius: 4px;
    }
  }
}