.header {
  display: flex;
  justify-content: space-between;
  &-middle {
    font-weight: bold;
    font-size: 1.3em;
  }
  &-left {
    a {
      border: solid 1px grey;
      padding: 5px;
      border-radius: 4px;
    }
  }
  &-middle {
    text-align: center;
    &-triangle {
      width: 0;
      height: 0;
      border: 50px solid #f0f2f5;
      border-top: 10px solid rgb(227, 227, 227);
    }
  }
}