.login {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  .login-header {
    background-color: rgb(208, 215, 218);
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    color: grey;
    padding: 20px 0 20px 0;
  }

  .login-content {
    width: 40%;
    height: 40%;
    margin: 10% auto;
    background-color: #cfd9df;
    h2 {
      padding-top: 10px;
      text-align: center;
      font-weight: 700;
    }
    .login-form {
      padding-top: 10%;
    }
  }
}